<app-base-dialog [title]="data.merchItem.title">
  <app-dialog-two-column>
    <!-- Image Column -->
    <div slot="image">
      <img [src]="data.merchItem.image" [alt]="data.merchItem.title" class="img-fluid">
    </div>
    
    <!-- Content Column -->
    <div slot="content">
      <app-dialog-info-section title="Beschreibung">
        <div [innerHTML]="data.merchItem.description"></div>
      </app-dialog-info-section>
      
      @if (data.merchItem.longDescription) {
        <app-dialog-info-section title="Details">
          <div [innerHTML]="data.merchItem.longDescription"></div>
        </app-dialog-info-section>
      }
      
      @if (data.merchItem.notificationEmail) {
        <app-dialog-info-section title="">
          <a 
            [href]="'mailto:' + data.merchItem.notificationEmail + '?subject=Buchungsanfrage: ' + data.merchItem.title + '&body=Hallo,%0A%0AIch möchte gerne folgendes Stück buchen:%0A%0A' + data.merchItem.title + '%0A%0A%0A%0AVielen Dank und freundliche Grüsse'" 
            class="btn btn-secondary"
          >
            Buchungsanfrage senden
          </a>
        </app-dialog-info-section>
      }
    </div>
  </app-dialog-two-column>
</app-base-dialog>