# MongoDB Configuration
MONGODB_CONNECTION_STRING=mongodb+srv://username:password@cluster0.xxxxx.mongodb.net/?retryWrites=true&w=majority
MONGODB_DATABASE=staticDb

# Application Environment
NODE_ENV=development
