<span class="countdown-box">
  <span class="days">
    <span class="number">{{ timeLeft().days }}</span>
    <span class="unit">Days</span>
  </span>
  <span class="hours">
    <span class="number">{{ timeLeft().hours }}</span>
    <span class="unit">Hrs</span>
  </span>
  <span class="minutes">
    <span class="number">{{ timeLeft().minutes }}</span>
    <span class="unit">Mins</span>
  </span>
  <span class="secs">
    <span class="number">{{ timeLeft().seconds }}</span>
    <span class="unit">Secs</span>
  </span>
</span>
