<section class="music-section section text-center bg-body-secondary">
  <div class="container">
    <h2 class="section-title">Hörspiele</h2>

    <!-- SoundCloud embeds -->
    <!--div class="mx-auto mb-5" style="max-width: 860px;">
      <div class="mb-3">
        <iframe 
          width="100%" 
          height="166" 
          scrolling="no" 
          frameborder="no" 
          src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/54872955&amp;color=0E0E10&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false">
        </iframe>
      </div>
      <div class="mb-3">
        <iframe 
          width="100%" 
          height="166" 
          scrolling="no" 
          frameborder="no" 
          src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/44327523&amp;color=0E0E10&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false">
        </iframe>
      </div>
    </div-->

    <!-- Albums grid -->
    <div class="content-grid-3 gap-4">
      @for (album of albums(); track album.id) {
      <div class="d-flex flex-column align-items-center mb-4">
        <h3 class="album-title mb-3 text-center text-truncate">{{ album.title }}</h3>
        <div class="d-flex flex-column align-items-center">
          <a class="cover-figure mb-3 position-relative d-inline-block" (click)="openAlbumDetail(album); $event.preventDefault()" href="javascript:void(0)">
            @if (album.status === 'coming-soon') {
            <div class="arrow-holder d-block position-absolute"></div>
            }
            <div class="record-holder d-none d-md-block position-absolute">
              <img class="img-fluid" src="/images/record.png" alt="" />
            </div>
            <img
              class="cover-image img-fluid position-relative"
              [src]="album.coverImage"
              [alt]="album.title"
            />
            @if (album.status === 'coming-soon') {
            <div class="cover-label position-absolute text-uppercase fw-bold">Demnächst verfügbar</div>
            }
          </a>

          @if (album.status === 'coming-soon') {
          <a
            (click)="openAlbumDetail(album); $event.preventDefault()"
            href="javascript:void(0)"
            class="btn btn-sm btn-ghost-secondary"
          >
            Album vorbestellen
          </a>
          } @else {
          <a (click)="openAlbumDetail(album); $event.preventDefault()" href="javascript:void(0)" class="btn btn-secondary">
            Album kaufen @if (album.price) { CHF {{ album.price }} }
          </a>
          }
        </div>
      </div>
      }
    </div>

    <!-- div class="mt-4">
      <a class="btn btn-ghost-primary" href="#">Musik auf iTunes</a>
    </div-->
  </div>
</section>
