/* About section styles */
.about-section .section-title {
  margin-bottom: 30px;
}

.about-section .section-intro {
  margin-bottom: 60px;
  max-width: 800px;
  margin: 0 auto 60px auto;
  font-size: 16px;
  color: var(--text-muted);
  text-align: center;
}

.about-section .item-inner {
  padding: 30px;
  height: 100%;
}

.about-section .member-name {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 15px;
}

.about-section .member-desc {
  color: var(--text-muted);
}

.about-section .member-profile {
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
  text-align: center;
}

.about-section .member-profile img {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.about-section .member-label {
  display: inline-block;
  width: 90%;
  padding: 5px 10px;
  background: var(--dark-bg);
  color: #fff;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 30px;
}

@media (max-width: 767.98px) {
  .about-section .item-inner {
    padding: 15px;
  }
}
