<span class="countdown-box">
  <span class="days">
    <span class="number">{{ timeLeft().days }}</span>
    <span class="unit">Tage</span>
  </span>
  <span class="hours">
    <span class="number">{{ timeLeft().hours }}</span>
    <span class="unit">Std</span>
  </span>
  <span class="minutes">
    <span class="number">{{ timeLeft().minutes }}</span>
    <span class="unit">Min</span>
  </span>
  <span class="secs">
    <span class="number">{{ timeLeft().seconds }}</span>
    <span class="unit">Sek</span>
  </span>
</span>
